<!DOCTYPE html>
<html lang="en">
<head>



    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href"https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity=sha384-Vkoo8x4CGs03+Hhxv8T/Q5PaXtkKtu6ug5T0eNV6gBiFeWPGFN9Muh0f23Q9Ifjh" crossorigin="anonymous">

{% if title %}


    <title>Welcome to {{ user }}'s Site</title>
{% else %}
<Title>Welcome to My Site!</title>
{% endif %}

</head>
<body>
<!-- As a heading -->
<nav class="navbar navbar-light bg-light">
  <span class="navbar-brand mb-0 h1">{{ title }}</span>
</nav>

	<div id"content">{% block content %}{% endblock %}</div>
	<div id"foot">
<!-- Optional Javascript -->
<!-- jQuery First, then Popper.js, then Bootrsap JS -->
<script src="https://code.jquery.com/jquery-3/4/1/slim.min.js"
inegrity="sha384-xxxxxxxxxxxxxxxxxxxxxxxxx"
crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
inegrity="sha384-xxxxxxxxxxxxxxxxxxxxxxxxx"
crossorigin="anonymous"></script>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
inegrity="sha384-xxxxxxxxxxxxxxxxxxxxxxxxx"
crossorigin="anonymous"></script>

</div>

</body>
</html>